heroes.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="heroes">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="hero">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="name"/>
              <xs:element type="xs:string" name="title"/>
              <xs:element name="role">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="range">
                      <xs:complexType>
                        <xs:choice>
                          <xs:element name="melee"/>
                          <xs:element name="ranged"/>
                        </xs:choice>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="type">
                      <xs:complexType>
                        <xs:choice>
                          <xs:element name="warrior"/>
                          <xs:element name="assassin"/>
                          <xs:element name="specialist"/>
                          <xs:element name="support"/>
                        </xs:choice>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="franchise">
                <xs:complexType>
                  <xs:choice>
                    <xs:element name="starcraft"/>
                    <xs:element name="warcraft"/>
                    <xs:element name="diablo"/>
                    <xs:element name="blizzard"/>
                    <xs:element name="overwatch"/>
                  </xs:choice>
                </xs:complexType>
              </xs:element>
              <xs:element name="lifeStats">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:float" name="lifeAt1"/>
                    <xs:element type="xs:float" name="lifeAt10"/>
                    <xs:element type="xs:float" name="lifeAt20"/>
                    <xs:element type="xs:float" name="lifeAt30"/>
                    <xs:element type="xs:float" name="healthRegen"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="attackStats">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="damage">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:float" name="dmgAt1"/>
                          <xs:element type="xs:float" name="dmgAt10"/>
                          <xs:element type="xs:float" name="dmgAt20"/>
                          <xs:element type="xs:float" name="dmgAt30"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="dps">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:float" name="dpsAt1"/>
                          <xs:element type="xs:float" name="dpsAt10"/>
                          <xs:element type="xs:float" name="dpsAt20"/>
                          <xs:element type="xs:float" name="dpsAt30"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element type="xs:float" name="attackSpeed"/>
                    <xs:element type="xs:float" name="attackRange"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:string" name="lastModified"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
