heroes.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">


<xs:element name="heroes">
    <xs:complexType>
        <xs:sequence>
            <xs:element name="hero" type="heroType" />
        </xs:sequence>
    </xs:complexType>
</xs:element>

<xs:complexType name="heroType">
    <xs:sequence>
        <xs:element name="role" type="roleType" />
        <xs:element name="life" type="lifeType" />
        <xs:element name="atk" type="atkType" />
        <xs:element name="dmg" type="dmgType" />
        <xs:element name="dps" type="dpsType" />
    </xs:sequence>
    <xs:attribute name="name" type="xs:string" use="required" />
    <xs:attribute name="title" type="xs:string" use="required" />
    <xs:attribute name="franchise" type="xs:string" use="required" />
</xs:complexType>

<xs:complexType name="roleType">
    <xs:attribute name="range" type="xs:string" use="required" />
    <xs:attribute name="type" type="xs:string" use="required" />
</xs:complexType>
    
<xs:complexType name="lifeType">
    <xs:attribute name="at1" type="xs:integer" use="required" />
    <xs:attribute name="at10" type="xs:integer" use="required" />
    <xs:attribute name="at20" type="xs:integer" use="required" />
    <xs:attribute name="at30" type="xs:integer" use="required" />
    <xs:attribute name="regen" type="xs:integer" use="required" />
</xs:complexType>

<xs:complexType name="atkType">
    <xs:attribute name="speed" type="xs:float" use="required" />
    <xs:attribute name="range" type="xs:float" use="required" />
</xs:complexType>

<xs:complexType name="dmgType">
    <xs:attribute name="at1" type="xs:integer" use="required" />
    <xs:attribute name="at10" type="xs:integer" use="required" />
    <xs:attribute name="at20" type="xs:integer" use="required" />
    <xs:attribute name="at30" type="xs:integer" use="required" />
</xs:complexType>

<xs:complexType name="dpsType">
    <xs:attribute name="at1" type="xs:float" use="required" />
    <xs:attribute name="at10" type="xs:float" use="required" />
    <xs:attribute name="at20" type="xs:float" use="required" />
    <xs:attribute name="at30" type="xs:float" use="required" />
</xs:complexType>

</xs:schema>